@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Arapey&family=Cormorant+Garamond&family=Lobster&family=Merriweather&family=Montserrat&family=Mulish&family=Nunito&family=Pacifico&family=Rokkitt&family=Sail&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ffcbcb;
    font-family: 'Roboto', sans-serif;
}

.chat_section{
    overflow: hidden;
    position: relative;
    width:800px;
    max-width: 90%;
    background: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1) , 0 4px 6px -2px rgba(0,0,0,0.05);
}

.brand{
    z-index: 2;
    position: relative;
    padding:20px;
    background:#f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color:#444;
    margin-left: 10px;
}

.message_area{
    height:500px;
    padding:16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    position: relative;
}

textarea{
    width: 100%;
    border:none;
    padding:20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

.message{
    padding:20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width:300px;
    position:relative;
}

.incoming{
    background: #ef5050;
    color:#fff;
    margin-right:auto;
}

.outgoing{
    background: #ffcbcb;
    color:#787986;
    margin-left: auto;
}

.message h4{
    position:absolute;
    top:-20px;
    left:0;
    color:#333;
    font-size: 14px;
}

a{
    text-decoration: none;
    color:black;
}

.task-button{
    padding:4px 6px;
    background: white;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin:0 4px;
 }

 .task-section{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 2;
    width:500px;
    display: flex;
    justify-content: center;
    position:absolute;
    top:12%;
    right:5%;
    background:#ef5050;
    color:white;
    transition: 0.5s;
    
    transform: scaleY(0);
    transform-origin: top;
    /* padding:12px; */
 }

 .tasks{
    display: flex;
    justify-content: space-around;
 }



 #taskbox{
    border:none;
    outline:none;
    padding:2px 4px;
 }

 .task-section ul{
    list-style:none ;
    width:100%;
 }

 .task-item{
    padding:6px 8px;
    border-bottom:1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .task-item:hover{
    border-bottom: 1px solid black;
 }

 .doer{
    z-index: -1;
    margin-left:6px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color:black;
 }

 .love{
    display: none;
    position:absolute;
    top:40%;
    left:40%;
    font-size: 4rem;
    color:#ffcaca;
 }

 .p{
    font-size: 14px;
    top:50%;
    left:41%;
 }

 @media screen and (max-width:700px){
    .love{
        display: none;
        position:absolute;
        top:40%;
        left:35%;
        font-size: 4rem;
        color:#ffcaca;
     }
    
     .p{
        font-size: 14px;
        top:50%;
        left:41%;
     }
 }
 